.container {
    background-color: #f5f5f5;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #ff0080;
    padding: 15px;
}

body {
    background-color: #e8e5e5eb;
}

.menu a {
    text-decoration: none;
    color: #f5f5f5;
}

.menu a:hover {
    text-decoration: underline;
    color: purple;
}

.title {
    text-align: center;
}

main {
    text-align: center;
    align-items: center;
}

/* Adjust dropdown styles */
select {
    width: 70%;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    font-family: sans-serif;
    text-align: center;
}

/* Style the tables */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

thead {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

thead th {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

thead th:first-child {
    width: 10%; /* Adjust as needed */
    min-width: 150px; /* Add a minimum width to prevent excessive compression */
    max-width: 150px; /* Add a maximum width to prevent excessive expansion */
    text-align: center; /* Align text to the left in the first column */
    font-weight: bold;
}

thead th:nth-child(2) {
    width: 50%; /* Adjust as needed */
    min-width: 150px; /* Add a minimum width to prevent excessive compression */
    max-width: 150px; /* Add a maximum width to prevent excessive expansion */
    text-align: center; /* Align text to the left in the first column */
    font-weight: bold;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td:first-child {
    font-weight: bold;
}

tr:hover {
    background-color: #d59ad0;
}
