.container {
    background-color: #c65d12;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #00fff7ea;
    padding: 15px;
}

body {
    background-color: #355;
}

.menu a{
    text-decoration: underline;
    color:#ff00f7ca
}

.menu a:hover {
    text-decoration: overline;
    color: purple;
}

.title {
    text-align: left;
}

main {
    text-align: center;
    align-items: center;
}

main ul li {
    list-style-type: visible;
    justify-items: center;
}

main ul .name{
    font-size: x-small;
    font-weight: bold;
}

main ul .id{
    font-size: x-small;
    font-weight: 200;
}

main ul .college{
    font-size: small;
    font-weight: 200;
}

main ol {
    text-align: center;
    padding: 0;
    list-style-position: inside;
}

main ol li{
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Times New Roman';
    text-align: left;
}

h4 {
    font-family: 'Lucida Sans';
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

thead th {
    background-color: #641141;
    color: #fff;
    padding: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

td:first-child {
    font-weight: bold;
}

tr:first-child td {
    background-color: #f4ec06;
}

tr td:not(:first-child) {
    text-align: center;
}

tr:hover {
    background-color: #06f83f;
}